/*
 * CSS for paintrackerrural instance
 *
 * Copyright 2013 University of Washington, School of Nursing.
    * http://opensource.org/licenses/BSD-3-Clause 
 *
*/

/* Different color palette for PT - UW style */

/* Monochromatic match to #39275b - using kuler */
.container > .row > .span2 {
    background-color: #605574;
}
h1, h2, h3, h4 {
    color: #8E632A;
}
h1, h2, .headline-cap, .well.yellow-background h4 {
    border-bottom-color: #8E632A;
}
.navbar .nav > li > a {
    color: #605574;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #39275b;
}

/* TODO - consider making another survey_layout config option that can be 
   selected to use this size with the survey_ui_small layout */

/* Make survey text somewhat larger for PT rural */
.survey-layout-small, .survey-layout-small strong, .survey-layout-small b, 
.survey-layout-small p, .survey-layout-small div, .survey-layout-small label,
.survey-layout-small .q-container .radio-horizontal label div,
.survey-layout-small .q-container span { font-size: 15px }

@media (max-width: 767px) {
    .intervention-container .row .span2 {
        background-color: inherit;
    }    
}
